<main>
  <div class="container py-8 min-h-[calc(100dvh-4rem)] flex justify-center items-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-[32rem] rounded-lg px-4 py-8 border border-[--mat-sys-outline-variant]">
      <h1 class="text-center text-2xl text-[--mat-sys-on-surface] font-medium mb-8">Login to Your Account</h1>

      <p>
        <mat-form-field appearance="outline" class="w-full">
          <input matInput type="email" placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" class="w-full">
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-hint class="text-[--mat-sys-error]">{{errorMessage()}}</mat-hint>
        </mat-form-field>
      </p>

      <button type="submit" mat-flat-button [disabled]="isLoading()" class="w-full my-4">
        <mat-icon [fontIcon]="isLoading() ? 'autorenew' : 'login'" [class.animate-spin]="isLoading()" class=""/>
        Login
      </button>

      <p class="text-center text-md">Don't have an account? <a routerLink="/sign-up" class="underline">Sign up</a></p>

      <p class="text-xs text-center leading-6 my-2">OR CONTINUE WITH</p>
      
      <app-social-auth />
    </form>
  </div>
</main>
