@use '@angular/material' as mat;

:root {
  @include mat.list-overrides((
    active-indicator-shape: 0.5rem,
    list-item-label-text-size: var(--mat-sys-body-medium-size),
    list-item-one-line-container-height: 2.5rem,
  ));
}
