<mat-nav-list class="text-center space-y-1">
  @for (navItem of navList(); track navItem.label) {
    <a mat-list-item [routerLink]="navItem.path">{{ navItem.label }}</a>
  }
</mat-nav-list>

<div class="mt-2">
  @if (currentUser()) {
    <a mat-flat-button routerLink="/" (click)="logout()" class="w-full">
      <mat-icon fontIcon="logout"/>
      Logout
    </a>
  } @else {
    <a mat-flat-button routerLink="/login" class="w-full">
      <mat-icon fontIcon="login"/>
      Login
    </a>

    <p class="text-xs text-center leading-10 text-[--mat-sys-outline]">OR CONTINUE WITH</p>
    <app-social-auth />
  }
  
  
</div>